.CompareModule {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 380px;

}

.Header {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 800px;
    height: 35px;
    margin-top: 10px;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    color: white;
}

.rowTitle {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.compareTitle {
    font-weight: bold;
    font-size: 20px;
}

.compareItem {
    background-color: #2C3E50;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;


}