.NavBarBackground {
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    position: absolute;
    background: #999999;
}

.LogoIcon {
    width: 65px;
    height: 65px;
    background: black;
    position: absolute;
    top: 3px;
    left: 5px;
}

.SearchBar {
    width: 510px;
    height: 35px;
    background: white;
    border-radius: 30px;
    border: 1px black solid;
}

.SearchButton {
    width: 176.20px;
    height: 55px;
    background: black;
    border-radius: 20
}