.Header {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 800px;
    height: 35px;
    margin-top: 10px;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    color: white;
}

.Bar {
    height: 40px;
    background-color: white;
    border-radius: 5px;
}